@model IEnumerable<Homework8Actual.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    @foreach (var Animal in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading"><h2>@Animal.Name</h2></div>
            <div class="panel-body">
                <div class="col-xs-3">
                    <img class="img img-thumbnail" src="@Animal.Image" />
                </div>
                <div class="col-xs-9">
                    <div>
                        @Animal.Description
                    </div>
                    <div style="float:right;">
                        @Html.ActionLink("Details", "Details", new { id = Animal.AnimalID }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

