@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Andrew's Pet Store</p>
    <p>@Html.ActionLink("See our inventory!", "Index", "Inventory", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our mission</h2>
        <p>
            Our mission is to provide our customers with a great selection of high quality Pet Products and 
            Pet Foods at the best price possible. We invite you to shop and compare our prices with any other pet supply store,
             pet supply chain store, grocery store or mass market retailer. We have everyday low prices and hot weekly specials !!!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>I can be emailed at arhill05@louisville.edu. My name is Andrew Hill!</p>
    </div>
</div>